@model List<TPLOCAL1.Models.Opinion>
@{
    ViewData["TitlePage"] = "Liste des avis";
    ViewData["Title"] = ViewData["TitlePage"];
}

    

<table>
    <caption>Liste</caption>
    <tr>
        <td>Nom</td>
        <td>Prénom</td>
        <td>Avis donné</td>
    </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                        @Html.DisplayFor(m => item.LastName)
                </td>
                <td>
                        @Html.DisplayFor(m => item.FirstName)
                </td>

                @if(item.OpinionGiven == "O") {
                    <td style="background-color: green;">
                        Oui
                </td>
                }
                    @if (item.OpinionGiven == "N")
                    {
                            <td style="background-color: red;">
                                Non
                        </td>
                    }
            </tr>
            }
</table>


   
