@{
    ViewData["TitlePage"] = "HN - TP Local";
    ViewData["Title"] = "Bienvenue dans le TP HN";
}
    <section>
        <p>
            <a href="/Home/Index/Form">Remplir le formulaire</a>
        </p>
    </section>
  